<div class="main about-me">  
  <section class="box">
    <h2 class="h2">Основная информация</h2>
    <div class="clearfix"></div>
    <img src="/images/face.png" class="photo">
    <dl class="dl-horizontal">
      <dt>Меня зовут:</dt>
      <dd>Кашнер Татьяна</dd>
      <dt>Мой возраст:</dt>
      <dd>27 лет</dd>
      <dt>Мой город:</dt>
      <dd>Санкт Петербург, Россия</dd>
      <dt>Моя специализация:</dt>
      <dd>FRONTEND разработчик</dd>
      <dt>Ключевые навыки:</dt>
      <dd class="skills">
        <span class="skill-item">html</span>
        <span class="skill-item">css</span>
        <span class="skill-item">javascript</span>
        <span class="skill-item">gulp</span>
        <span class="skill-item">git</span>
        <span class="skill-item">photoshop</span>
      </dd>
    </dl>                
  </section>
  <section class="box">
    <h2 class="h2">Опыт работы</h2>
    <div class="item">
      <div class="about-icon icon-portfel"></div>
      <div class="info-block">
        <p class="where">Продавец журналов в грязной майке</p>
        <p class="period">Сентябрь 2005 - Август 2008</p>
      </div>
    </div>
    <div class="item">
      <div class="about-icon icon-portfel"></div>
      <div class="info-block">
        <p class="where">Саксофонист</p>
        <p class="period">Июнь 2008 - Июль 2010</p>
      </div>
    </div>      
  </section> 
  <section class="box">
    <h2 class="h2">Образование</h2>
    <div class="item">
      <div class="about-icon icon-college"></div>
      <div class="info-block">
        <p class="where">Высшее, НАУ (КИИГА КМУГА)</p>
        <p class="period">2004-2009</p>
      </div>
    </div>
    <div class="item">
      <div class="about-icon icon-course"></div>
      <div class="info-block">
        <p class="where">Курсы Loftschool</p>
        <p class="period">Ноябрь 2014 - по настоящее время</p>
      </div>
    </div>
  </section>        
</div>