<div class="main my-work">  
  <section class="box">
    <h2 class="h2">Мои работы</h2>
    <div class="clearfix"></div>
    <div class="projects">
      <div class="item">
        <div class="hover-img">
          <img src="http://aeolidia.com/wp-content/uploads/2014/08/posie-feature-435x270.png" data-hover="posie">
        </div>
        <a href="http://aeolidia.com/projects/posie" target="_blank"></a>
        <p class="description">Posie project</p>
      </div>
        <a href="#" class="item add-new-item">
          <div class="icon-add"></div>
          <span>Добавить проект</span>
        </a>
    </div>
  </section>           
</div>
